body{
	background-color: #373F51;
	color: white;
}
p {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 30px;
}

a{
	color:#E43F6F;
	text-decoration: none;

}

a:hover{
	color: #F56476;
}
h1{
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
	height: 60px;
	width:100%;
}

.nveg{
	color:#550C18;
}

.veg{
	color: #C3423F;
}

.sidebar{
	position: absolute;
	top: 115px;
	text-align: left;
	width: 200px;
	height: calc(100% - 548px);

	background: linear-gradient(grey, black);

}

.container{
	position: relative;
	height:1000px;
}

.content{
	position: absolute;
	top: 0px;
	left:200px;
}

#shadow{
	border:1px solid;
	padding: 10px;
	box-shadow: 3px 6px black;
}